.about {
    display: flex;
    gap: 3.5rem;
    justify-content: center;
    padding: 120px 0;
}

.about h3 {
    font-size: 40px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 26px;
    position: relative;
    display: inline;
}

.about h3::before {
    content: "";
    width: 17.24px;
    height: 4px;
    background: #F27501;
    top: -8px;
    left: -1px;
    position: absolute;
    rotate: 323.52deg;
}

.about h3::after {
    content: "";
    width: 17.24px;
    height: 4px;
    background: #F27501;
    bottom: 2px;
    right: -20px;
    position: absolute;
    rotate: 313.52deg;
}

.about p {
    color: #172B4D;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 24px;
    margin-top: 24px;
}


.about button {
    background: #F27501;
    color: #fff;
    width: Hug (112px);
    height: Fixed (56px);
    padding: 0px, 16px, 0px, 16px;
    border-radius: 50px;
    padding: 16px;
}

.about_left button {
    padding: 16px 35px;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;

}

.about_right_img {
    max-width: 671px;
}



.featuresContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, 370px);
    gap: 1.5rem;
}

.features_item {
    height: 167px;
    padding: 16px 24px 16px 24px;
    border-radius: 8px;
    display: grid;
    gap: 16px;
    box-shadow: 0px 3px 15px 0px #091E421A;
}













.gallery {
    padding-top: 80px;
    margin-top: 105px;
    text-align: center;
}

.gallery h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    position: relative;
    display: inline-block;
    margin: auto;
}

.gallery h2::before {
    content: "";
    width: 17.24px;
    height: 4px;
    background: #F27501;
    top: -13px;
    left: -8px;
    position: absolute;
    rotate: 328deg;
}

.gallery h2::after {
    content: "";
    width: 17.24px;
    height: 4px;
    background: #F27501;
    bottom: 2px;
    right: -30px;
    position: absolute;
    rotate: 313.52deg;
}

.galleryWrapper {
    margin-top: 62px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 266px);
    column-gap: 30px;
    row-gap: 30px;
    margin-bottom: 60px;
}

.exploreGalleryBtn {
    padding: 16px 20px;
    background: #F27501;
    display: block;
    margin: auto;
    width: fit-content;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 8px;
    margin-bottom: 120px;
}

@media only screen and (max-width: 600px) {
    .about {
        flex-direction: column-reverse;
    }

    .about img {
        width: 90%;
        margin: auto;
    }

    .featuresContainer {
        width: 90%;
        margin: auto;
        grid-template-columns: repeat(auto-fit, 90%);
        text-align: center;
    }

    .about_left {
        text-align: center;
    }

    .about_left p {
        text-align: center;
    }
}