.heroInfo {
    position: absolute;
    top: 7rem;
    left: 50%;
    transform: translateX(-50%);
}

.heroInfo h1 {
    font-size: 75px;
    font-weight: 700;
    line-height: 113px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
    margin-bottom: 8px;
    text-transform: uppercase;
}

.heroInfo p {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
    margin-bottom: 50px;
}

.heroForm {
    height: 102px;
    /* width: 90%; */
    width: fit-content;
    margin: auto;
    border-radius: 102px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.heroForm_left {
    display: inline-block;
    background: #091E42;
    width: 100px;
    height: 100%;
    border-radius: 100px 0px 0px 100px;
    margin-left: -1px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    word-wrap: break-word;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}

.heroForm_mid {
    display: flex;
    margin-right: 50px;
    top: -5px;
    position: relative;
}

.heroForm_mid .heroForm_mid_group {
    display: flex;
    gap: 40px;
}

.heroForm_mid .heroForm_mid_subgroup {
    display: flex;
    gap: 1rem;
}


.heroForm_mid .heroForm_mid_subgroup {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 4px;
}


/* calendar styles */
.calendar {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.calendarWeeks {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    gap: 4px;
    margin-top: 10px;
}

.calendarWeeks .calendar-day {
    border-radius: 4px;
}


.heroForm_submitBtn {
    background: #F27501;
    color: #fff;
    padding: 0px 16px 0px 16px;
    border-radius: 50px;
    padding: 16px;
    margin-right: 24px;
}

.heroSelect::-ms-expand {
    display: none;
}

.heroForm_mid_subgroup select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    padding-right: 20px;
    min-width: 90px;
}

.heroForm_mid_subgroup select::-ms-expand {
    display: none;
}


.about {
    display: flex;
    gap: 3.5rem;
    justify-content: center;
    padding: 120px 0;
}

.about h3 {
    font-size: 40px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 26px;
    position: relative;
    display: inline-block;
    margin-bottom: 24px;
}

.about h3::before {
    content: "";
    width: 17.24px;
    height: 4px;
    background: #F27501;
    top: -8px;
    left: -1px;
    position: absolute;
    rotate: 323.52deg;
}

.about h3::after {
    content: "";
    width: 17.24px;
    height: 4px;
    background: #F27501;
    bottom: 2px;
    right: -20px;
    position: absolute;
    rotate: 313.52deg;
}

.about p {
    color: #172B4D;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 2rem;
}



.about_left a {
    border-radius: 50px;
    padding: 16px 35px;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    background: #F27501;
    color: #fff;

}

.about_right_img {
    max-width: 671px;
}


.showcase {
    background: #F4F5F7;
    padding-top: 60px;
    padding-bottom: 80px;
}

.showcase h2 {
    font-size: 40px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 26px;
    position: relative;
    display: inline-block;
}

.showcase h2::before {
    content: "";
    width: 17.24px;
    height: 4px;
    background: #F27501;
    top: -13px;
    left: -8px;
    position: absolute;
    rotate: 328deg;
}

.showcase h2::after {
    content: "";
    width: 17.24px;
    height: 4px;
    background: #F27501;
    bottom: 2px;
    right: -30px;
    position: absolute;
    rotate: 313.52deg;
}


.showcase p {
    margin-bottom: 60px;
}

.showcaseImage {
    padding: 0 20px;
}

.gallery {
    padding-top: 80px;
    margin-top: 105px;
    text-align: center;
}

.gallery h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    position: relative;
    display: inline-block;
    margin: auto;
}

.gallery h2::before {
    content: "";
    width: 17.24px;
    height: 4px;
    background: #F27501;
    top: -13px;
    left: -8px;
    position: absolute;
    rotate: 328deg;
}

.gallery h2::after {
    content: "";
    width: 17.24px;
    height: 4px;
    background: #F27501;
    bottom: 2px;
    right: -30px;
    position: absolute;
    rotate: 313.52deg;
}

.galleryWrapper {
    margin-top: 62px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 266px);
    column-gap: 30px;
    row-gap: 30px;
    margin-bottom: 60px;
}

.exploreGalleryBtn {
    padding: 16px 20px;
    background: #F27501;
    display: block;
    margin: auto;
    width: fit-content;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 8px;
    margin-bottom: 120px;
}

.contactUs {
    background: url("../assets/contact-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 65px;
    padding-bottom: 87px;
}

.contactUs h2 {
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 0em;
    color: white;
    text-align: center;
    margin-bottom: 122px;
}

.contactUsArea {
    display: flex;
    gap: 4.5rem;
}

.contactUsArea_left {
    border: 1px solid white;
    padding: 32px;
    border-radius: 8px;
    width: min-content;
}

.contactUsArea_left h3 {
    font-size: 36px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
    margin-bottom: 22px;
}

.contactUsArea_left .subTitle {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
    margin-bottom: 40px;
}


.contactUsArea_left form {
    display: grid;
    grid-gap: 2rem;
}

.contactUsArea_left form .input-field {
    border: 1px solid #fff;
    background: transparent;
    padding: 16px;
    border-radius: 8px;
    width: 454px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
}

.contactUsArea_left form .input-field:focus {
    outline: 1px solid #fff;
}

.contactUsArea_left form .input-field::placeholder {
    color: #DEE4EA;
}

.contactUsArea_left form .phone-input-field {
    border: 1px solid #fff;
    /* padding: 16px; */
    border-radius: 8px;
    width: 454px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
    display: flex;
}

.contactUsArea_left form .phone-input-field select {
    padding: 16px;
    background: transparent;
}

.contactUsArea_left form .phone-input-field input {
    padding: 16px;
    background: transparent;
    width: -webkit-fill-available;
}

.sendBtn {
    background: #F27501;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    padding: 16px 56px;
    border-radius: 50px;
    width: fit-content;
}

.contactUs_details_group {
    margin-bottom: 111px;
}

.contactUs_details_item {
    max-width: 299px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 35px;
}

.contactUs_details_item {
    display: flex;
    gap: 16px;
}


@media only screen and (max-width: 600px) {
    .heroInfo {
        top: 3rem;
        /* position: relative; */
    }

    .heroInfo h1 {
        font-size: 2rem;
        line-height: 2.5rem;
    }

    .heroInfo p {
        font-size: 1rem;
        line-height: 1.3rem;
    }

    .heroForm {
        flex-direction: column;
        height: auto;
        border-radius: 10px;
        width: 90%;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        padding-bottom: 20px;
    }

    .heroForm_left {
        width: 100%;
        margin: 0;
        border-radius: 0;
        padding: 8px;
        margin-bottom: 1rem;
        border-radius: 10px 10px 0 0;
    }

    .heroForm_mid {
        margin: 0 20px;
    }

    .heroForm_mid .heroForm_mid_group {
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
    }

    .heroForm_mid_subgroup {
        width: 100%;
        grid-template-columns: 1fr 1fr;
    }

    .heroForm_mid_subgroup label {
        flex: 1;
    }

    .heroForm_submitBtn {
        margin: 0;
        margin-top: 10px;
    }

    .heroForm_mid .heroForm_mid_subgroup {
        flex-direction: column;
    }


    .about {
        flex-direction: column-reverse;
        align-items: center;
        gap: 3rem;
        text-align: center;
        padding-top: 380px;
    }

    .heroForm_mid_subgroup:first-child span .calendar {
        /* right: 0; */
        right: 50%;
        transform: translateX(50%)
    }

    .about h3,
    .about p {
        text-align: center;
    }

    .about_right_img {
        width: 90%;
    }

    .about button {
        display: block;
        margin: auto;
    }

    .showcase h2 {
        line-height: 42px;
        padding: 0 8px;
        display: inline;
    }

    .showcase p {
        margin-top: 26px;
    }

    .contactUsArea {
        flex-direction: column;
    }

    .contactUs {
        padding-bottom: 44px;
    }

    .contactUs h2 {
        margin-bottom: 45px;
    }

    .contactUsArea_left h3 {
        line-height: 38px;
    }

    .contactUsArea_left {
        width: 90%;
        margin: auto;
    }

    .contactUsArea_left form .input-field,
    .contactUsArea_left form .phone-input-field {
        width: 100%;
    }

    .contactUsArea_left button {
        margin: auto;
    }

    .contactUs_details_group {
        width: 90%;
        margin: auto;
    }

    .contactUs iframe {
        margin: 0 32px;
        width: -webkit-fill-available;

    }
}


@media only screen and (max-width: 320px) {
    .contactUsArea_left {
        padding: 10px;
    }
}