.hero {
    background: url('../../assets/hero-bg-sm.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-size: 75px;
    font-weight: 700;
    line-height: 113px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}